

body {
    background-image: url("/background.jpeg");
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;

}

.flex-container {
    display: flex;
    flex-direction: row;
    
    background-color: white;


  }

  .clear {
      margin-top: 20px;
  }

  .list-group-item {
    text-align: center;
    word-wrap: break-word;
    background: lightcoral;

  }

  .fx {
      flex-grow:3;
      align-items: flex-end;
      flex-basis: 200px;
      margin-left: 300px;;
  }

button {
    background: coral;
}
  .buttons {
      margin-top: 20px;
      color: black;
      font-weight: bolder;
   
     
      
  }

  .btn {
      border-style: solid;
      border: black;
      border-width: 5px;
  }
 
 

p {
color: black;
margin: 10px;
}

.icons {
    align-content: right;
}

h1 {
    margin: 40px;
    font-size: 40px;
}

button {
    background-color:pink;
}
  

.typewriter {
    max-width: 100%;
    font-size: 30px;
    display: inline-block;
    font-family: monospace; 
    overflow: hidden; 
    border-right: .15em solid pink; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}



@keyframes typing {
    from {max-width: 0 }
    to { max-width: 100% }
  }
  
  
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: pink; }
  }

