

body {
    background-image: url("/background.jpeg");
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  
    


}

.text-center {

    text-align: center;
    font-family: monospace;
    font-size: 40px
}

.typewriter {
    max-width: 100%;
    font-size: 30px;
    display: inline-block;
    font-family: monospace; 
    overflow: hidden; 
    border-right: .15em solid pink; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}



@keyframes typing {
    from {max-width: 0 }
    to { max-width: 100% }
  }
  
  
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: pink; }
  }

